.head_part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 6vh;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight: 700;
}
.container{
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 131, 96);
    border-radius: 10px;
    width: 80%;
    padding: 30px;
    min-height: 40vh;
    gap: 10px;
}

fieldset{
    align-self: flex-start;
    width: 100%;
    border: none;
}
label{
    align-self: flex-start;
    font-weight: 700;
    letter-spacing: 0.6px;
}
input , textarea {
    align-self: flex-start;
    width: 100%;
    padding: 4px;
    font-weight: 600;
    letter-spacing: 0.4px;
    outline: none;
    border-radius: 4px;
    border: none;
}

textarea{
    height: 40%;
}

button{
    padding: 6px 8px ;
    border-radius: 6px;
    border: none;
    background: white;
    color: blueviolet;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
}